[Desktop Entry]
Type=Application
Terminal=false
Name=V-REP
Icon=/home/levy/.local/share/icons/vrep.png
Exec=/home/levy//Software/V-REP_PRO_EDU_V3_3_1_64_Linux/vrep.sh
